body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #333;
}

header {
    background: #ff9800;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 25px;
    background: white;
    color: #ff9800;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

section {
    padding: 30px 20px;
    background: white;
    margin: 15px;
    border-radius: 8px;
}

.services ul {
    list-style: none;
    padding: 0;
}

.services li {
    padding: 10px 0;
    font-size: 18px;
}

.contact a {
    text-decoration: none;
    color: #ff9800;
}

.whatsapp {
    background: #25D366;
    color: white;
}

footer {
    text-align: center;
    padding: 15px;
    background: #222;
    color: white;
}

body {
    margin: 0;
}

body {
    margin: 0;
}

.background {
    height: 180vh;
    background-image: url("paint.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    background-color: black;
}